{% extends "Home/header.html" %}

{% block title %} About Us {% endblock %}


{% block content %}
{% load static %}

<div class="about-us-container">
    <img class="about-us-img" src="{% static 'design/images/about-us-bg2.jpg' %}" alt="about-us-image">
    <div>
        <p>
            <b class="about-us-heading">Welcome to our website!</b><br/>
            <small style="font-size: 11px;">We're here to help you stay on top of your finances and achieve your financial goals.</small><br/><br/>
            <p class="about-inner-paragraph">
                    Our website calculates your monthly budget using the 50/30/20 rule, a popular and effective method for managing your money.<br/>
                    With this rule, you allocate 50% of your income to your needs (such as rent, groceries, and bills), 30% to your wants (such as dining out and entertainment), and 20% to your savings or debt payments.<br/>
                <p class="about-inner-paragraph">
                    This balanced approach ensures that you have enough for your essentials, while still allowing you to enjoy your life and build your wealth.</br>
                    Our goal is to help you make smarter financial decisions and achieve your long-term goals. We believe that everyone can benefit from good money management, and we're here to make it easy and accessible for you.<br/>
                    Thank you for using our website, and we hope you enjoy our service!
                </p>
            </p>
        </p>
    </div>
</div>
    
{% endblock %}