{% extends "Home/header.html" %}


{% block title %} Create List {% endblock %}


{% block content %}
{% load static %}

{% if messages %}
<div class="messages-block">
    <ul class="messages-swipe" style="color: white;">
        {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %} style="color: white;"">{{ message }}</li>
        {% endfor %}
    </ul>
</div>
<script>
    setTimeout(function() {
        document.querySelector('.messages-swipe').style.display = 'none';
    }, 5000);
</script>
{% endif %}

<form method="post" action="/create/" class="create-form-container">

   {% csrf_token %}

   <div class="create-heading">
      <h1 class="create-heading-text">Create List</h1>
   </div>

   <div class="create-form">
      <div>
         {{ form }}
      </div>
      <button class="btn btn-primary create-button" type="submit", name="save">Create New</button>
   </div>

   <div class="view-message-container">
      <p>Please <a href="{% url 'Budget:view' %}" class="view-message"> click here </a> to access your past calculations...</p>
   </div>

</form>
    
{% endblock %}