{% extends "Home/header.html" %}

{% block title %} Home {% endblock %}


{% block content %}
{% load static %}

{% if messages %}
<div style="display: flex; float: left">
    <ul class="messages-swipe" style="color: white;">
        {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %} style="color: white;"">{{ message }}</li>
        {% endfor %}
    </ul>
</div>
<script>
    setTimeout(function() {
        document.querySelector('.messages-swipe').style.display = 'none';
    }, 5000);
</script>
{% endif %}


<div>BUDGET</div>
<div>
    <img class="bg-img" src="{% static 'design/images/mobile2.jpg' %}"/>
</div>
<div>IT</div>
<div style="font-family: 'Quicksand', sans-serif;">
    Budget your monthly allowance, income and side hustle with our analytic system using the 50/30/20 rule
</div>

    
{% endblock %}